@model tracking_project.Models.Customer

@{
    ViewData["Title"] = "Customercreate";
}

<h1>Customercreate</h1>

<h4>Customer</h4>
<hr />
<div class="">
    <div class="">
        <form asp-action="Customercreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-sm-10">
                <div class="col">

                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <select asp-for="CompanyName" class="form-control" asp-items="@(new SelectList(ViewBag.company,"CompanyName","CompanyName",ViewBag.Id))">
                    </select>
                </div>
            </div><br />
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="XYZ@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CNIC" class="control-label"></label>
                    <input asp-for="CNIC" class="form-control" placeholder="45435-6545648-3" />
                    <span asp-validation-for="CNIC" class="text-danger"></span>
                </div>
            </div><br />
                  <div class="row col-sm-10">
                      <div class="col">
                          <label asp-for="DateOfBirth" class="control-label"></label>
                          <input asp-for="DateOfBirth" class="form-control" type="date" placeholder=" date of birth" />
                          <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                      </div>
                      <div class="col">
                          <label asp-for="OfficePhone" class="control-label"></label>
                          <input asp-for="OfficePhone" class="form-control" placeholder="345-678-8976" />
                          <span asp-validation-for="OfficePhone" class="text-danger"></span>
                      </div>
                  </div>
            <br />

          
            <div class="row col-sm-10">
                <div class="col">
                    <label class="control-label">MotherName</label>
                    <input asp-for="MotherName" class="form-control" placeholder="" />
                    <span asp-validation-for="MotherName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">Blood Group</label>
                    <input asp-for="BloodGroup" class="form-control" placeholder="" />
                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                </div>
            </div><br />
           

            <div class="row col-sm-10">
                <div class="col">
                    <input type="submit" value="Add" class="btn btn-primary" style="width:100px" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>

    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
