@model tracking_project.Models.Model

@{
    ViewData["Title"] = "ModelCreate";
}

<h1>Model Create</h1>

<h4>Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModelCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Make</label>
                <select asp-for="MakeId" class="form-control" asp-items="@(new SelectList(ViewBag.Make,"Id","MakeName"))">
                    
                </select>
                <span asp-validation-for="MakeId" class="text-danger"></span>
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                   

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


