@model tracking_project.Models.Make

@{
    ViewData["Title"] = "MakeCreate";
}

<h1>Make Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MakeName" class="control-label"></label>
                <input asp-for="MakeName" class="form-control"  />
                <span class="text-danger" asp-validation-for="MakeName"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

