@model tracking_project.Models.Customer

@{
    ViewData["Title"] = "SalePersonVehicleCreate";
}



<h4>Customer</h4>
<hr />
<div class="">
    <div class="">
        <form asp-action="SalePersonCustomerCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="SalePersonID" class="control-label"></label>
                    <select asp-for="SalePersonID" class="form-control" asp-items="@(new SelectList(ViewBag.listod,"SalePersonId","Name",ViewBag.Id))"></select>
                </div>
                <div class="col">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div></br>
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="XYZ@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div><br />
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="CNIC" class="control-label"></label>
                    <input asp-for="CNIC" class="form-control" placeholder="45435-6545648-3" />
                    <span asp-validation-for="CNIC" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div><br />
            @*<div class="row col-sm-10">
                <div class="col">
                    <label asp-for="PhonePOne" class="control-label"></label>
                    <input asp-for="PhonePOne" class="form-control" placeholder="345-678-8976" />
                    <span asp-validation-for="PhonePOne" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="PhonePTwo" class="control-label"></label>
                    <input asp-for="PhonePTwo" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="PhonePTwo" class="text-danger"></span>
                </div>
            </div><br />
            <div class="row col-sm-10">
                <div class="col">
                    <label asp-for="SName" class="control-label"></label>
                    <input asp-for="SName" class="form-control" placeholder="" />
                    <span asp-validation-for="SName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="PhoneSOne" class="control-label"></label>
                    <input asp-for="PhoneSOne" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="PhoneSOne" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="PhoneSTwo" class="control-label"></label>
                    <input asp-for="PhoneSTwo" class="form-control" placeholder="218-564-7678" />
                    <span asp-validation-for="PhoneSTwo" class="text-danger"></span>
                </div>
            </div>
            </br>*@
            
            <div class="row col-sm-10">
                <div class="col">
                    <input type="submit" value="Add" class="btn btn-primary" style="margin-top:30px; width:100px;" />

                </div>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
